.card {
    filter: drop-shadow(5px 5px 5px rgb(68, 68, 67));
}

#card {
    filter: drop-shadow(5px 5px 5px rgb(68, 68, 67));
}

.container {
    color: black;
    padding-bottom: 0px;
    
}

.card-body {
    background-color: rgb(245, 245, 245);
}

.row {
    
}

#widget {
    margin-left: 100px;
}

#logo {

    filter: drop-shadow(5px 5px 5px rgb(238, 255, 0));
    
}



body {
    background-image: url("https://media.gannett-cdn.com/28911775001/28911775001_5848005995001_5848007493001-vs.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Cards */

.bottomCard1 img, .bottomCard2 img, .bottomCard3 img, .bottomCard4 img, .bottomCard5 img {
    height: 50%;
    width: 95%;
    margin: 10px;
    padding: 10px;
}
/* Cards 2 */
.bottomCard6 img, .bottomCard7 img, .bottomCard8 img, .bottomCard9 img, .bottomCard10 img {
    height: 50%;
    width: 95%;
    margin: 10px;
    padding: 10px;
}

 
    


 #map {
    height: 90%;
    width: 100%;
    margin-left: 0px;
  }

  #cardSize {
      height: 100%;
      width: 100%;
  }
.gm-style-iw-t img {
    width: 15px;
    height: auto;
}

